<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Enables annotation-driven controllers -->
    <mvc:annotation-driven />
    
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/assets/**" location="/assets/" />
    <mvc:resources mapping="/styles/**" location="/styles/" />
    <mvc:default-servlet-handler/>

    <context:component-scan base-package="org.usagi" />

    <!-- View Resolver for JSP -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- JDBC DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/usagiryori" />
        <property name="username" value="ryori" />
        <property name="password" value="restaurant" />
    </bean>

    <!-- JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="menuDAO" class="org.usagi.DAO.MenuDAO">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <bean id="tableDAO" class="org.usagi.DAO.TableDAO">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <bean id="commandeDAO" class="org.usagi.DAO.CommandeDAO">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <bean id="reserverDAO" class="org.usagi.DAO.ReserverDAO">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <!-- <bean class="org.usagi.controller.MenuController">
        <property name="menuDao" ref="menuDAO" />
    </bean> -->

</beans>